body {
  background-color: #ccc;
}
.results {
  margin: 15px;
  padding: 15px;
  border: 1px solid black;
}

nav a {
  font-family: 'IM Fell Great Primer', serif;
}

.text {
  font-family: 'IM Fell Great Primer', serif;
}
